@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.great-font {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.56rem 11.87rem 0;

}
.logo{
    font-size: 2.25rem;
    font-weight:800;
    color: rgba(230, 83, 60, 1);
}
.nav-items {
    display: flex;
    gap:2.93rem;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width:25rem;
    height:2rem;
    align-items: center;
}
#ab{
    padding-right:0.75rem;
}
.home{
    width:5rem;
    height:1.9rem;
    text-align: center;
    align-content: center;
    border-radius: 46px;
    background: rgb(230, 83, 60);  
}
.home>a{
    text-decoration: none;
    color: white;
    font-weight:600;
    font-size:1.125rem;
}
.item{
    text-decoration: none;
    font-size:1.125rem;
    font-weight:400;
    color:rgba(255, 255, 255, 1);
}
.bg-color{
     background-color:rgba(17, 17, 17, 1);;
}
.navbar,.banner{
    margin: 0 auto;
    max-width: 1440px;
}
/* banner */

.banner{
    padding:0 11.87rem 0;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 11.25rem;
}
.banner-cont{
    width:32.5rem;
    height: 27.5rem;
}
.bn-title{
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    text-align: left;
}
#sp{
    font-family: miama;
    font-weight: 400;
    font-size:4.8rem;
}
.bn-dis{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    margin: 28px 0;
}
.btn{
    font-size: 1.125rem;
    font-weight:600;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 45px;
    background-color:transparent;


}
#btn-1{
    border: none;
    background-color:rgba(230, 83, 60, 1) ;
}
.banner-img{
    width: 21.8rem;
    height: 36.25rem;
    border:1px solid white
}
#image{
    background-size: cover;
}
/* .vdo-tutorial{
    z-index: 1;
} */